<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}秒杀专场编辑{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/productRelease.css">
<link rel="stylesheet" href="/public/css/limitSalePerformanceAdd.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
<link rel="stylesheet" href="/public/css/setting_field.css">
<link rel="stylesheet" href="/public/plugins/jquery-chosen/chosen.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-type="1" href="/marketMode/limitSalePerformanceIng">正在进行</a>
                        </li>
                        <li>
                            <a data-type="2" href="/marketMode/limitSalePerformanceWillStar">即将开始</a>
                        </li>
                        <li>
                            <a data-type="3" href="/marketMode/limitSalePerformanceHistory">历史抢购</a>
                        </li>
                        <li class="active">
                            <a data-type="4" href="javascript:void(0);">编辑</a>
                        </li>

                    </ul>
                </div>
                <div class="manageClassify_box_contanier">
                    <div class="form-group">
                        <label for="" style="font-weight: 100;"><em style="color: red;font-size: 15px">*</em>商品选择：</label>
                        <a data-toggle="modal" class="btn btn-default" id="choiceProduct">选择商品</a>
                        <span class="goods-name_final" style=""></span>
                    </div>
                    <div class="form-group">
                        <label for="" style="font-weight: 100;margin-bottom: 20px"><em style="color: red;font-size: 15px">*</em>已选商品：</label>
                        <!--<table id="specification" style="display: block">-->

                        <!--</table>-->
                        <div class="panel-group" id="accordion" style="margin-left: 46px;display: none">

                        </div>
                    </div>
                    <div class="form-group form-inline_custom">
                        <label><em style="color: red;font-size: 15px">*</em>开始日期：</label>
                        <input type="text" disabled class="form-control" readonly placeholder="只有达到开始日期，活动才会生效" id="start_time">
                    </div>
                    <div class="form-group form-inline_custom">
                        <label><em style="color: red;font-size: 15px">*</em>结束日期：</label>
                        <input type="text" disabled class="form-control" readonly placeholder="只有达到结束日期，活动才会结束" id="end_time">
                    </div>
                    <div class="form-group form-inline_custom">
                        <label><em style="color: red;font-size: 15px">*</em>每人限购数量：</label>
                        <input type="number" class="form-control" id="LimitPurchase" placeholder="此次活动可购买的商品总数量">
                    </div>
                   
                    <div class="form-group form-inline_custom">
                        <label for="" style="font-weight: 100"><em style="color: red;font-size: 15px">*</em>活动标题：</label>
                        <input type="text" class="form-control" id="ShareTitle" placeholder="不超过100字">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" id="editBtn" style="margin-left: 52px;">编辑</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--选择礼品模态框多选-->
<div class="modal fade" id="choicePresentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:1060px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">选择商品</h4>
            </div>
            <div class="modal-body" style="margin:auto">
                <div class="row form-group search_goods_box">
                    <div class="form-group col-lg-4 col-md-4">
                        <label for="" style="width:80px;text-align: right">商品名称：</label>
                        <input type="text" class="form-control" id="choice_presentName" style="width:200px;display: inline-block;text-align:left;border-radius: 4px ">
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <select class="form-control" id="CateId">
                            <option selected="selected" value="0">请选择商品分类</option>
                        </select>
                    </div>
                    <div class="disp_page_box pull-right" style="margin-right: 20px">
                        <label style="float:left;line-height: 34px;margin-right: 4px;">每页显示数量：</label>
                        <select id="pagesize_dropdown" class="orderTypeSelect select2 pull-right" tabindex="-1"
                            aria-hidden="true">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" id="productSearch" style="margin-left: 20px">查询</button>
                </div>
                <div class="row form-group">
                    <div class="box_choice_goods">
                        <table id="choice_goods_tb">

                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="edit_Department_confirm">确认</button>
            </div>
        </div>
    </div>
</div>
<!--选择礼品模态框end-->
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/jquery-chosen/chosen.jquery.js"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/plugins/webuploader/webuploader.js"></script>
<script src="/public/js/upload_icon_limitSale.js"></script>
<script src="/public/js/uploadProductImgForLimit.js"></script>
<script src="/public/js/limitSalePerformanceEdit.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/js/utility/productmodal.js"></script>
{{/block}}