<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}限时抢购 即将开始{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-type="1" href="/marketMode/limitSaleIng">正在进行</a>
                        </li>
                        <li class="active">
                            <a data-type="2" href="/marketMode/limitSaleWillStar">即将开始</a>
                        </li>
                        <li>
                            <a data-type="3" href="/marketMode/limitSaleHistory">历史抢购</a>
                        </li>
                    </ul>
                </div>
                <div class="manageClassify_box_contanier">
                    <div style="margin-top: 20px;">
                        <a class="btn btn-primary addBtn"  href="/marketMode/limitSaleAdd">+新增</a>
                    </div>
                    <!--以下是表格内容-->
                    <div class="table_content_box">
                        <table id="tb_limit_content">

                        </table>
                    </div>
                    <!--以上是表格内容end-->


                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/laydate/moment.js"></script>
<script src="/public/js/limitSaleWillStar.js" type="text/babel"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
{{/block}}