<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}佣金明细列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-type="3" href="javascript:;">佣金明细</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="row form-horizontal">
                        <div style="margin-bottom:15px;margin-top: 30px;margin-left: 8px"><a class="backBtn"><img src="/public/images/back.png" alt=""><span>返回列表</span></a></div>
                    </div>
                </div>
                <div>
                    <table id="productTable" class="table table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
{{/block}}

{{block 'footer'}}
{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/js/commissionSubsidiary.js" type="text/babel"></script>
{{/block}}