<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}提现设置页{{/block}}
{{block 'head'}}
<link href="/public/css/nav.css" rel="stylesheet">
<link href="/public/css/classifyAdd.css" rel="stylesheet">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" data-type="0" href="#first" id="refresh">提现设置</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane borderRadius5" id="first" style="display: block">
                        <div class="form-box form-horizontal" style="margin-top: 40px;">
                            <div class="form-group">
                                <label class="col-md-2 control-label">每日最高可提现金额：</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input class="form-control" id="SplitLimitAmount" type="number">
                                        <span class="input-group-addon" style="background: #fff;border: none;">¥</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">每日最低可提现金额：</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input class="form-control" id="SplitLowAmount" type="number">
                                        <span class="input-group-addon" style="background: #fff;border: none;">¥</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 40px;">
                                <div class="col-md-10 col-md-offset-2">
                                    <button class="btn btn-primary" id="completeBtn"
                                            style="width: 120px;height: 44px;background: #424242" type="button">完成
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/js/withdrawSetting.js"></script>
{{/block}}