.allBox{
    width: 100%;
    height: 100vh;
}

.codeBg{
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.code-flex{
    width: 294px;
    height: 385px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
}
.code-box{
    width: 100%;
    height: 100%;
    background: url("../../static/images/index/bg.png") no-repeat;
    background-position:center;
    background-size:cover;
    border-radius: 8px;
    overflow: hidden;
}

.codeTop{
    height: 115px;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
}
.codeTop img{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    float: left;
    margin-top: 23px;
    margin-left: 25px;
}
.codeTop>div{
    font-size: 10px;
    color:#AAAAAA;
    float: right;
    width: 180px;
    padding-right: 15px;
}
.codeTop>div p{
    color: #333333;
    font-size: 18px;
    line-height: 20px;
    margin: 32px 0 12px 0;

}
.qrCode{
    width: 144px;
    height: 144px;
    margin: 0 auto;
    margin-top: 32px;
    position: relative;
    z-index: 2;
}
.qrCode >>> img{
    width: 144px;
    height: 144px;
    vertical-align: top;
}

.forwardBtn{
    width: 210px;
    height: 39px;
    color: #fff;
    text-align: center;
    line-height: 39px;
    font-size: 14px;
    background-color: #56BD6B;
    border-radius: 20px;
    /*margin: 0 auto;*/
    /*margin-top:30px;*/
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
    position: absolute;
    z-index: 1;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%,0);
}

.sheetTop{
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-size: 16px;
    text-align: center;
    padding: 0 15px;
    border-bottom: 1px solid #E5E5E5;
}

.sheetMid{
    height: 122px;
    padding: 0 15px;
    border-bottom: 1px solid #E5E5E5;
}
.sheetMid>div{
    width: 50%;
    text-align: center;
    float: left;
}
.sheetMid>div img{
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-top: 14px;
    margin-bottom: 16px;
}
.sheetMid>div p{
    font-size: 14px;
    color: #333;
    margin: 0;
}

.sheetBtm{
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}

.share-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

.share-layer>img {
    width: 100%;
    height: 100%;
    display: block;
}

.saveCode{
    width: 294px;
    height: 385px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.saveCode img{
    width: 294px;
    height: 385px;
    vertical-align: top;
}