.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.allBox {
    min-height: 100vh;
    background-color: #F6F6F6;
    padding: 15px 10px 24px 10px;
    box-sizing: border-box;
}

.state-box {
    background-color: #56BD6B;
    height: 70px;
    border-radius: 10px;
    color: #fff;
    padding: 14px 15px 0 15px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 15px;
}

.state-box .text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 2px;
}

.topTitleLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}

.storeIcon {
    width: 14px;
    height: 15px;
    margin-right: 10px;
}
.line-boxTop {
    min-height: 50px;
    background-color: #fff;
    border-radius: 10px;
    color: #333333;
    font-size: 15px;
    padding: 15px 19px 15px 15px;
    box-sizing: border-box;
}
.line-boxTop .contact img {
    width: 13px;
    height: 14px;
    margin-right: 15px;
}

.line-boxTop .phone {
    text-align: right;
}
.addressText{
    float: left;
    font-size: 13px;
    color: #333;
    margin-top: 10px;
}
.line-box {
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 10px;
    color: #333333;
    font-size: 15px;
    padding: 0 19px 0 15px;
}

.line-box .contact img {
    width: 13px;
    height: 14px;
    margin-right: 15px;
}

.line-box .phone {
    text-align: right;
}
.shipTypeBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    height: 50px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}
.totalTextBox{
    display: flex;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    font-size: 14px;
    color: #999;
}
.itemText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail-box {
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 18px;
}

.detailTop {
    font-size: 13px;
    color: #333333;
    padding: 17px 15px 0 15px;
    height: 49px;
    box-sizing: border-box;
}

.pro-item {
    background-color: #F7F7F7;
    height: 112.5px;
    border-bottom: 1px solid #fff;
    padding: 0 13px 0 15px;
}

.pro-item img {
    width: 70.5px;
    height: 70.5px;
    float: left;
    margin-top: 24px;
}

.pro-item>div {
    width: 235px;
    font-size: 12px;
    color: #999;
    float: right;
    margin-top: 23px;
}

.pro_name {
    color: #333333;
    font-size: 13px;
    margin-bottom: 15px;
}

.pro-item>div div span.floatLeft {
    width: 160px;
}

.pro_name span.floatLeft {
    /*line-height: 17px;*/
}

.actuallyBtm {
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: #333;
    font-size: 15px;
    padding-right: 15px;
}

.actuallyBtm span {
    color: #E53333;
    font-size: 17px;
}

.describe {
    margin: 0 10px;
    font-size: 11px;
    color: #999999;
    padding: 14px 20px 14px 5px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.type {
    padding: 20px 14px 20px 14px;
}

.type p {
    padding: 0;
    font-size: 11px;
    color: #999999;
    line-height: 15px;
    margin: 6px 0 0 0;
}

.line-box.btn {
    text-align: right;
}

.line-box.btn>div {
    width: 90px;
    height: 28px;
    line-height: 27px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    float: right;
    margin-top: 12px;
}

.cancel {
    color: #666666;
    border: 1px solid #666666;
    margin-right: 10px;
}

.confirm {
    color: #ffffff;
    background-color: #56BD6B;
}

.copy-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 14px 18px 14px;
    align-items: center;
}

.copy-left {
    font-size: 11px;
    color: #999;
}

.copy-left>div:first-child {
    margin-bottom: 7px;
}

.copy-right {
    width: 90px;
    height: 28px;
    line-height: 27px;
    border: 1px solid #E53333;
    border-radius: 14px;
    text-align: center;
    font-size: 12px;
    color: #E53333;
}
.copy-rightOne{
    width: 90px;
    height: 28px;
    line-height: 27px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin-top: 12px;
    color: #E53333;
    border: 1px solid #E53333;
}
.payBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    width: 355px;
    height: 60px;
    border-radius: 10px;
    font-size: 13px;
    color: #333;
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 0 15px;
}
.payLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
}