.allBox {
    min-height: 100vh;
    background-color: #F7F5F6;
}

.teamContent {
    padding: 15px;
}

.bgBox {
    background-image: url("../images/member/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.bgContent {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-left: 9px;
}

.tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4px;
    margin-left: 5px;
    font-size: 12px;
}

.tip>span {
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grade {
    font-size: 11px;
    color: #fff;
    float: left;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    /* padding-right: 20px; */
    margin-top: 12px;
    /*height: 18px;*/
    display: flex;
    align-items: center;
}

/* .info {
    width: 200px;
} */

.name {
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #fff;
}

.head {
    width: 72px;
    height: 70px;
    margin-right: 26px;
    border-radius: 50%;
}

.phone {
    font-size: 13px;
    color: #fff;
    margin-top: 15px;
}

.bgItem {
    color: #fff;
    width: 344px;
    height: 70px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.desc {
    font-size: 12px;
    margin-top: 8px;
}

.money {
    font-size: 16px;
    margin-top: 10px;
}

.tips {
    position: absolute;
    top: 50px;
    right: 15px;
    color: #fff;
    font-size: 11px;
    border-radius: 10px 0px 0px 10px;
    width: 64px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.itemBox {
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 11px;
    width: 344px;
}

.itemBox>>>.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding: 12px 14px;
}

.itemBox>>>.item:last-child {
    border: none;
}

.itemBox>>>.num {
    margin-top: 11px;
    color: #999;
}

.itemBox>>>.price {
    font-size: 12px;
    color: #333;
}