.btn_color {
    color: #fff;
    border: 1px solid #4799C8;
    background-color: #4799C8;
}

.btn_color.focus,
.btn_color:focus,
.btn_color:hover {
    color: #fff;
}

.set_introduce_detail {
    padding: 20px;
}


.del_text_box {
    cursor: pointer;
}

.del_introduce_box,
.del_arrange_box,
.del_school_box{
    float: right;
    padding-right: 20px;
    cursor: pointer;
}

#index9_address {
    width: 400px;
    height: 400px;

}


.webuploader-container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}



.webuploader-container div,
.webuploader-container input {
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
}



.slider.slider-horizontal {
    width: 100% !important;
    position: relative;
    top: 7px;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}
#ex2Slider .slider-selection {
    background: #BABABA;
}