<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}推荐商品配置{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/productConfigure.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="head-type">
        <ul class="nav nav-tabs" id="State">
            <li class="active">
                <a data-type="0" data-toggle="tab" href="#first">推荐商品</a>
            </li>
        </ul>
    </div>
    <div class="functionHandleArea clearfix">
        <!--<div class="batchHandleArea">-->
        <!--<div class="checkall">-->
        <!--<input type="checkbox" name="selectall" id="stuCheckBox" class="check-box">-->
        <!--</div>-->
        <!--</div>-->
        <!--<a class="btn btn-default ml20 pull-left" id="delete">删除</a>-->
        <a class="btn btn-primary ml20 pull-left" id="selectProduct" style="width: 110px">选择商品</a>
    </div>
    <div>
        <table id="configureTable" class="table table-striped">
        </table>
    </div>
    <!--选择商品-->
    <div class="mask">
        <div class="content-box">
            <h2>选择商品</h2>
            <a class="close">×</a>
            <div class="coup-content">
                <div class="coup-search">
                    <div class="option-list form-inline clearfix">
                        <div class="form-group col-lg-2 col-md-4" style="width:400px;height: 90px">
                            <label>商品名称：</label>
                            <input type="text" class="form-control" id="UserName">
                        </div>
                        <div class="form-group col-lg-2 col-md-3">
                            <select class="form-control" id="CateId">
                                <option selected="selected" value="0">请选择商品分类</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-3">
                            <a class="btn" style="background: #424242;color: #fff" id="productSearch">查询</a>
                        </div>
                        <div class="selectOperate clearfix" style="line-height: 100%">
                            <div class="paginalNum">
                                <span>每页显示数量：</span>
                                <select name="pagesize_dropdown" id="pagesize_dropdown">
                                    <option value="4" selected>4</option>
                                    <option value="6">6</option>
                                    <option value="40">40</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="2000">2000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selectTabel">
                    <table id="productTabel" class="table table-striped">

                    </table>
                </div>
            </div>
            <div class="box-footer">
                <a class="btn confirm-btn" style="background: #424242;color: #fff" id="bathAdd">一键添加</a>
                <a class="btn confirm-btn" style="background: #424242;color: #fff" id="addProduct">添加</a>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/js/productRecommend.js" type="text/babel"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
{{/block}}