<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini">
                    <b>典匠生活</b></span>
        <span class="logo-lg">
                    <b style="width: 100%;display: block;">
                        <img src="/public/images/logo.png" alt="" style="height: 52px;">
                    </b>
                </span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!--<li class="dropdown messages-menu">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i class="iconfont icon-icon_bell"></i>-->
                        <!--<span class="label label-success" id="count">0</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu" style="position: fixed">-->
                        <!--<li class="header">-->
                            <!--通知-->
                            <!--<input id="markAll" class="not-markAll" type="button" value="标记全部已读">-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<ul class="menu notif-list" id="infoList">-->

                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="footerA" id="seeAll">-->
                            <!--<a href="/information" class="see-all">查看全部通知</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="overflow: hidden">
                        <img id="userImg-small" src="/public/images/logo_login.png" class="user-image" alt="头像">
                        <span class="hidden-xs" style="position: relative;top: 10px;margin-right: 60px">典匠生活</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img id="userImg-big" src="/public/images/logo_login.png" class="img-circle" alt="头像">
                            <p id="username">Alexander Pierce - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left hide">
                                <a href="#" class="btn btn-default btn-flat"></a>
                            </div>
                            <div class="pull-right">
                                <a id="logout" class="btn btn-default btn-flat">退出</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>