{{extend '../share/layout.html'}}
{{block 'title'}}轮播图列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/addAdvert.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box" style="overflow: hidden;">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:void(0);">轮播图列表</a>
                        </li>
                    </ul>
                </div>
                <div style="margin-top: 20px;">
                    <a class="btn btn-primary addBtn" href="/platform/addBanner">+新增</a>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active">
                        <table id="bannerTable">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/js/bannerList.js" type="text/babel"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
{{/block}}