<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}导航编辑{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/classifyList.css">
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/addAdvert.css">
<link rel="stylesheet" href="/public/css/productRelease.css">
<!--<link rel="stylesheet" href="/public/css/storeAdd.css">-->
<link type="text/css" rel="stylesheet" href="/public/plugins/ueditor/themes/default/css/ueditor.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box" style="padding-top: 30px">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-type="1" href="/platform/navbarList">导航列表</a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">编辑</a>
                        </li>
                    </ul>
                </div>
                <div class="form-box form-horizontal" style="margin-top: 40px;border-top: 0;padding-top: 0;">
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span class="red-star">*</span>标题：</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="Name" placeholder="请输入名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span
                                class="red-star">*</span>商品分类：</label>
                        <div class="col-md-2">
                            <input type='button' value='选择分类' class="btn btn-default uploadBtn" id="selectClassify"/>
                        </div>
                        <div class="col-md-2">
                            <p class="classifyName" data-id="0" id="classifyName"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span class="red-star">*</span>导航图片：</label>
                        <div class="col-md-9">
                            <div class="icon-box_about_classify">
                                <div class="small_con">
                                    <img src="/public/images/addImg.png" alt="" id="small_icon" style="width: 100px;height: 100px;">
                                    <div id="small_upload_pick" class="webuploader-container">
                                        <div class="webuploader-pick"></div>
                                    </div>
                                </div>
                                <div style="text-align: center;width: 100px;">27*27</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span class="red-star">*</span>排序：</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" id="DisplayOrder" style="width: 120px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button class="btn btn-primary cancelBtn" id="cancelBtn">取消</button>
                            <button class="btn btn-primary submitBtn" id="submitBtn">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask">
        <div class="content-box">
            <h2>选择商品分类</h2>
            <a class="close">×</a>
            <div class="coup-content">
                <div id="table_header_classify">
                    <div class="col-xs-3">
                        编号
                    </div>
                    <div class="col-xs-6">
                        分类名称
                    </div>
                    <div class="col-xs-3">
                        操作
                    </div>
                </div>
                <div id="table_content_classify">

                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}
{{block 'footer'}}
{{/block}}
{{block 'requirejs'}}
<script src="/public/plugins/webuploader/webuploader.js"></script>
<script src="/public/js/upload_icon_pic.js"></script>
<script src="/public/js/navEditor.js" type="text/babel"></script>
<script src="/public/plugins/ueditor/ueditor.config.js"></script>
<script src="/public/plugins/ueditor/ueditor.all.js"></script>
{{/block}}